a, a:hover, a:visited, a:active
{
	color: rgba(255, 255, 255, 1);
	text-decoration:none;
}
#body{
	background: rgba(255, 255, 255, 1);
}
#header{
	font-family: lato;
	text-shadow: 3px 3px 4px rgba(0, 0, 255, 1);
	color: rgba(255, 255, 255, 1);
	position: absolute;
	height: 100px;
	width: 1466px;
	top: 0px;
	left: 0px;
	margin-top: -18px;
	padding-left: 30px;
	box-shadow: 0px 5px 10px black;
	background: rgba(0, 0, 155, 1);
	border-bottom: 1px solid rgba(0, 0, 0, 1);
}
#adress{
	font-family: lato;
	text-shadow: 0px 0.5px 2px black;
	color: rgba(255, 255, 255, 1);
	position: absolute;
	width: 200px;
	right: 440px;
	top: 22px;
}
.pictureadress{
	height: 18px;
	width: auto;
	position: relative;
	top: 13px
}
#mail{
	font-family: lato;
	position: absolute;
	text-shadow: 0px 0.5px 2px black;
	top: 31px;
	right: 215px;
	background-position: center;
	transition: all 0.8s;
	padding-left: 4px;
}
#mail:hover{
	transition: all 0.5;
	transform: scale(1.05);
	border-radius: 5px;
	padding-right: 5px;
	padding-bottom: 1px;
	padding-left: 4px;
	box-shadow: 0px 5px 10px black;
	background:rgba(60, 140, 225, 1);
}
#mail:active {
	background-color: rgba(162, 0, 0, 1);
	background-size: 100%;
	transition: 0.2s;
}
.picturemail{
	height: 17px;
	width: auto;
	position: relative;
	top: 2.5px
}
#phone{
	font-family: lato;
	position: absolute;
	text-shadow: 0px 0.5px 2px black;
	top: 31px;
	right: 50px;
	transition : all 0.8s;
}
#phone:hover{
	transition: all 0.7s;
	transform: scale(1.05);
	border-radius: 5px;
	padding-right: 5px;
	padding-bottom: 1px;
	padding-left: 4px;
	box-shadow: 0px 5px 10px black;
	background:rgba(60, 140, 225, 1);
}
#phone:active{
	background-color: rgba(162, 0, 0, 1);
	background-size: 100%;
	transition: 0.2s;
}
.picturephone{
	height: 17px;
	width: auto;
	position: relative;
	top: 2.5px
}
#nav{
	background: rgba(0, 240, 0, 0);
	position: absolute;
	top: 285px;
	left: 30px;
}
.cercleA{
	font-family: calibri;
	text-align: center;
    width: 30px;
	height: 30px;
    border-radius: 30px;
	background: rgba(255, 255, 255, 1);
	color: rgba(0, 0, 0, 0);
	transition: width 3s, transform 0s, box-shadow 3s;
}
.cercleB{
	font-family: calibri;
	text-align: center;
    width: 30px;
	height: 30px;
	border-radius: 30px;
	color: rgba(0, 0, 0, 0);
	background: rgba(0, 16, 32, 1);
	transition: width 3s, transform 0s, box-shadow 3s;
}
.cercleA:hover{
	transition: 0.1s;
	color: rgba(0, 0, 0, 1);
	transform: scale(1.30);
	box-shadow: 0px 5px 8px black;
	width: 170px;
}
.cercleB:hover{
	transition: 0.1s;
	color: rgba(255, 255, 255, 1);
	transform: scale(1.30);
	box-shadow: 0px 5px 8px black;
	width: 170px;
}
.cercleA:active{
	background-color: rgba(162, 0, 0, 1);
	background-size: 100%;
	transition: 0.1s;
}
.cercleB:active{
	background-color: rgba(162, 0, 0, 1);
	background-size: 100%;
	transition: 0.1s;
}
.homeA{
	filter: invert(0%);
	height: 20px;
	width: auto;
	position: absolute;
	margin-left: 4.8px;
	margin-top: 4.8px;
}
.curriculum-vitaeA{
	filter: invert(0%);
	height: 20px;
	width: auto;
	position: absolute;
	margin-left: 4.8px;
	margin-top: 4.8px;
}
.projectsA{
	filter: invert(0%);
	height: 20px;
	width: auto;
	position: absolute;
	margin-left: 4.8px;
	margin-top: 4.8px;
}
.aboutA{
	filter: invert(0%);
	height: 20px;
	width: auto;
	position: absolute;
	margin-left: 4.8px;
	margin-top: 4.9px;
}
.homeB{
	filter: invert(100%);
	height: 20px;
	width: auto;
	position: absolute;
	margin-left: 4.8px;
	margin-top: 4.8px;
}
.curriculum-vitaeB{
	filter: invert(100%);
	height: 20px;
	width: auto;
	position: absolute;
	margin-left: 4.8px;
	margin-top: 4.8px;
}
.projectsB{
	filter: invert(100%);
	height: 20px;
	width: auto;
	position: absolute;
	margin-left: 4.8px;
	margin-top: 4.8px;
}
.githubB{
	filter: invert(100%);
	height: 20px;
	width: auto;
	position: absolute;
	margin-left: 4.8px;
	margin-top: 5px;
}
.linkedinB{
	filter: invert(100%);
	height: 20px;
	width: auto;
	position: absolute;
	margin-left: 4.8px;
	margin-top: 4.8px;
}
.aboutB{
	filter: invert(100%);
	height: 20px;
	width: auto;
	position: absolute;
	margin-left: 4.8px;
	margin-top: 4.9px;
}
.titleA{
	position: relative;
	text-align: center;
	top: 6px;
	font-weight: bold;
}
.titleB{
	position: relative;
	text-align: center;
	top: 6px;
	font-weight: bold;
}
#titlepage{
	font-family: lato;
	font-size: 50px;
	font-weight: bold;
	color: black;
	position: absolute;
	top: 70px;
	left: 100px;
	text-shadow: 2px 2px 5px #969696;
	animation: fondubody 2s;
}
#competences{
	height: 180px;
	width: 507px;
	text-shadow: 0px 0.5px 2px grey;
	font-family: calibri;
	font-size: 11pt;
	color: black;
	background:rgba(60, 140, 225, 1);
	border-radius: 15px;
	position: absolute;
	top: 210px;
	left: 240px;
	padding-left: 80px;
	padding-bottom: 25px;
	transition: filter 1s, transform 1s;
	animation: fondubody 3s;
	box-shadow:  8px 8px 24px #969696;
}
.titlecompetences{
	color: black;
	font-size: 16pt;
	position: absolute;
	top: 40px;
	left: 10px;
	writing-mode: vertical-lr;
	text-orientation: mixed;
	transform: rotate(180deg);
}
#competences:hover{
	transition: 0.5s;
	transform: scale(1.02);
	filter: invert(100%);
}
.titlecompetences:hover{
	transition: 1s;
	color: rgba(225, 145, 60, 1);
}
#experiences{
	height: 270px;
	width: 477px;
	font-family: calibri;
	text-shadow: 0px 0.5px 2px grey;
	font-size: 11pt;
	color: black;
	background:rgba(60, 140, 225, 1);
	border-radius: 15px;
	position: absolute;
	top: 460px;
	left: 240px;
	padding-left: 100px;
	padding-right: 10px;
	padding-bottom: 5px;
	transition: filter 1s, transform 1s;
	animation: fondubody 3s;
	box-shadow:  8px 8px 24px #969696;
}
.titleexperiences{
	color: black;
	font-size: 16pt;
	position: absolute;
	top: 85px;
	left: 10px;
	writing-mode: vertical-lr;
	text-orientation: mixed;
	transform: rotate(180deg);
}
#experiences:hover{
	transition: 0.5s;
	transform: scale(1.02);
	filter: invert(100%);
}
.titleexperiences:hover{
	transition: 1s;
	color: rgba(225, 145, 60, 1);
}
#diplomes{
	height: 225px;
	font-family: calibri;
	text-shadow: 0px 0.5px 2px grey;
	font-size: 11pt;
	color: black;
	background:rgba(60, 140, 225, 1);
	border-radius: 15px;
	position: absolute;
	top: 210px;
	left: 900px;
	padding-left: 20px;
	padding-right: 20px;
	transition: filter 1s, transform 1s;
	animation: fondubody 3s;
	box-shadow:  8px 8px 24px #969696;
}
.titlediplomes{
	color: black;
	text-align: center;
	font-size: 16pt;
}
#diplomes:hover{
	transition: 0.5s;
	transform: scale(1.02);
	filter: invert(100%);
}
.titlediplomes:hover{
	transition: 1s;
	color: rgba(225, 145, 60, 1);
}
#logiciels{
	height: 225px;
	font-family: calibri;
	text-shadow: 0px 0.5px 2px grey;
	font-size: 11pt;
	color: black;
	background:rgba(60, 140, 225, 1);
	border-radius: 15px;
	position: absolute;
	top: 475px;
	left: 897px;
	padding-left: 20px;
	padding-right: 20px;
	transition: filter 1s, transform 1s;
	animation: fondubody 3s;
	box-shadow:  8px 8px 24px #969696;
}
.titlelogiciels{
	color: black;
	text-align: center;
	font-size: 16pt
}
#logiciels:hover{
	transition: 0.5s;
	transform: scale(1.02);
	filter: invert(100%);
}
.titlelogiciels:hover{
	transition: 1s;
	color: rgba(225, 145, 60, 1);
}
#traits{
	height: 225px;
	width: 170px;
	font-family: calibri;
	text-shadow: 0px 0.5px 2px grey;
	font-size: 11pt;
	color: black;
	background:rgba(60, 140, 225, 1);
	border-radius: 15px;
	position: absolute;
	top: 475px;
	left: 1115px;
	transition: filter 1s, transform 1s;
	animation: fondubody 3s;
	box-shadow:  8px 8px 24px #969696;
}
.titletraits{
	color: black;
	text-align: center;
	font-size: 16pt;
}
#traits:hover{
	transition: 0.5s;
	transform: scale(1.02);
	filter: invert(100%);
}
.titletraits:hover{
	transition: 1s;
	color: rgba(225, 145, 60, 1);
}
.italic{
	font-size: 9pt;
}
@keyframes fondubody{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}