a, a:hover, a:visited, a:active
{
	color: white;
	text-decoration:none;
}
#body{
	background: white;
}
#header{
	z-index: 9999;
	background: navy;
	opacity: 1;
	position: absolute;
	height: 13%;
	width: 97.46%;
	top: 0%;
	right: auto;
	bottom: auto;
	left: auto;
	padding-top: auto;
	padding-right: auto;
	padding-bottom: auto;
	padding-left: 4%;
	margin-top: -1.3%;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: -2%;
	font-family: lato;
	color: white;
	text-shadow:
	/*relief*/	 
     0 2px 0 rgb(200,200,200),
     3px 4px  2.5px  rgba(0, 0, 0, 0.40);
	border-bottom: 3px solid black;
}
.adress{
	z-index: 9999;
	font-family: lato;
	color: white;
	width: 15%;
	position: absolute;
	top: 2.7%;
	right: auto;
	bottom: auto;
	left: 54%;
	padding-top: auto;
	padding-right: auto;
	padding-bottom: auto;
	padding-left: auto;
	margin-top: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
}
.pictureadress{
	height: 15px;
	width: auto;
	position: relative;
	top: 10.5px;
}
.mail{
	z-index: 9999;
	font-family: lato;
	height: 2%;
	width: 14.8%;
	position: absolute;
	top: 3.6%;
	right: auto;
	bottom: auto;
	left: 68%;	
}
.mail:hover{
	transition: all 450ms;
	transform: scale(1.05);
	background-color: #0080ff;
	border-radius: 10px;
	padding-top: 0.1%;
	padding-right: 0.1%;
	padding-bottom: 0.4%;
	padding-left: 0.4%;
	box-shadow: 0 5px 5px 0 rgba(0,0,0,0.18), 0 4px 5px 0 rgba(0,0,0,0.15);
}
.picturemail{
	height: 15px;
	width: auto;
	position: relative;
	top: 2px;
}
.phone{
	z-index: 9999;
	font-family: lato;
	height: 2%;
	width: 9.5%;
	position: absolute;
	top: 3.6%;
	right: auto;
	bottom: auto;
	left: 85%;	
}
.phone:hover{
	cursor: pointer;
	transition: all 450ms;
	transform: scale(1.05);
	background-color: #0080ff;
	border-radius: 10px;
	padding-top: 0.2%;
	padding-right: auto;
	padding-bottom: 0.3%;
	padding-left: 0.4%;	
	box-shadow: 0 5px 5px 0 rgba(0,0,0,0.18), 0 4px 5px 0 rgba(0,0,0,0.15);
}
.picturephone{
	height: 15px;
	width: auto;
	position: relative;
	top: 1px;
}
#nav{
	z-index: auto;
	background: white;
	opacity: 1;
	position: absolute;
	height: 62.2%;
	width: 3%;
	top: 11%;
	right: auto;
	bottom: 0%;
	left: 0%;
	padding-top: 13%;
	padding-right: auto;
	padding-bottom: auto; 
	padding-left: 2.5%;
	margin-top: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
}
.cercleA{
    width: 26px;
    height: 26px;
    border-radius: 26px;
	background: white;
	border: 2px solid #001020;
}
.cercleB{
    width: 30px;
    height: 30px;
    border-radius: 30px;
	background: #001020;
}
.cercleA:hover{
	transition: all 450ms;
	transform: scale(1.35);
	width: 200px;
	box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
}
.cercleB:hover{
	transition: all 450ms;
	transform: scale(1.35);
	width: 200px;
	box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
}